# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.build

# Projects
*.vcxproj
*.xcodeproj
*.sln
Debug*
Release*

# Executables
*.exe
*.out
*.app

# CMake
*.cmake
CMakeCache*
CMakeFiles*
CMakeScripts*
